# Configuration générale
.env

config_sav.yaml
config_test.yaml
setup_ino.iss

# Exclure tout dans 4_installer sauf ce qui est explicitement ré-inclus
/4_installer/*
!4_installer/setup_ino.iss
!4_installer/setup_ino2.iss
!4_installer/Output/

# Dossiers node_modules
node_modules/

# Configurations spécifiques au projet
core/config/lexique.yaml
core/data/commands.json
core/data/cookies.json
core/config/config.yaml
core/grammar

# Ignorer tout dans sound/input_sound sauf .gitkeep
sound/input_sound/*
!sound/input_sound/.gitkeep

# Ignorer tout dans sound/input_mic_sound sauf .gitkeep
sound/input_mic_sound/*
!sound/input_mic_sound/.gitkeep

# Ignorer tout dans sound/input_listen_sound sauf .gitkeep
sound/input_listen_sound/*
!sound/input_listen_sound/.gitkeep

# Ignorer tous les fichiers .mp3 et .mp4 dans sound/output_sound et ses sous-répertoires
sound/output_sound/**/*.mp3
sound/output_sound/**/*.mp4

# Réinclure le dossier spécifique pour synchronisation
!sound/output_sound/sound_bank/default/

# Garder les fichiers .gitkeep dans sound/output_sound et ses sous-répertoires
!sound/output_sound/**/*.gitkeep




