# Configuration générale
.env

config_sav.yaml
config_test.yaml
setup_ino.iss

# Répertoires d'installation et de sortie
/4_installer

# Dossiers node_modules
node_modules/
node_modules_sav/

# Configurations spécifiques au projet
core/config/lexique.yaml
core/data/commands.json
core/data/cookies.json
core/config/config.yaml
core/grammar





core/exe/my_player*
!core/exe/my_player.gitkeep


# Dossiers de sons
# Dossiers input
sound/input_sound/*
!sound/input_sound/.gitkeep

sound/input_mic_sound/*
!sound/input_mic_sound/.gitkeep

sound/input_listen_sound/*
!sound/input_listen_sound/.gitkeep

# Dossiers output
# Ignorer tout sauf les fichiers .gitkeep dans les dossiers spécifiés
/sound/output_sound/openAI/other
/sound/output_sound/revoicer/other

!sound/sound_output/openAI/other/.gitkeep
!sound/sound_output/revoicer/other/.gitkeep

# Les entrées commentées ci-dessous sont supprimées car elles semblent être remplacées par de nouvelles règles plus spécifiques
#sound/output_sound/*
#!sound/output_sound/.gitkeep

# Dossiers de son supplémentaires
# Les entrées commentées ci-dessous ont été supprimées car elles semblaient être redondantes ou mal placées
#sound/sound_input/*
#!sound/sound_input/.gitkeep

#sound/sound_output/*
#!sound/sound_output/.gitkeep

# Fichiers spécifiques


