<div class="modal modal-xl" id="keyboard_Modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuration de Touche</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="keyboard-container">
                    <div class="keyboard">
                        <div class="keyboard-row keyboard_select_display">
                            <button class="key" key_code="27" key_translate="Escape">ESC</button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 50px -->
                            <button class="key" key_code="112" key_translate="F1">F1</button>
                            <button class="key" key_code="113" key_translate="F2">F2</button>
                            <button class="key" key_code="114" key_translate="F3">F3</button>
                            <button class="key" key_code="115" key_translate="F4">F4</button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 50px -->
                            <button class="key" key_code="116" key_translate="F5">F5</button>
                            <button class="key" key_code="117" key_translate="F6">F6</button>
                            <button class="key" key_code="118" key_translate="F7">F7</button>
                            <button class="key" key_code="119" key_translate="F8">F8</button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 50px -->
                            <button class="key" key_code="120" key_translate="F9">F9</button>
                            <button class="key" key_code="121" key_translate="F10">F10</button>
                            <button class="key" key_code="122" key_translate="F11">F11</button>
                            <button class="key" key_code="123" key_translate="F12">F12</button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="44" key_translate="Print_screen">PRT</button>
                            <button class="key" key_code="145" key_translate="Scroll_lock ">AD</button>
                            <button class="key" key_code="19" key_translate="Pause">PA</button>
                        </div>
                        <br>
                        <div class="keyboard-row keyboard_select_display">
                            <button class="key" key_code="222" key_translate="²">²</button>
                            <button class="key" key_code="49" key_translate="1">1</button>
                            <button class="key" key_code="50" key_translate="2">2</button>
                            <button class="key" key_code="51" key_translate="3">3</button>
                            <button class="key" key_code="52" key_translate="4">4</button>
                            <button class="key" key_code="53" key_translate="5">5</button>
                            <button class="key" key_code="54" key_translate="6">6</button>
                            <button class="key" key_code="55" key_translate="7">7</button>
                            <button class="key" key_code="56" key_translate="8">8</button>
                            <button class="key" key_code="57" key_translate="9">9</button>
                            <button class="key" key_code="48" key_translate="0">0</button>
                            <button class="key" key_code="219" key_translate="Degree">°</button>
                            <button class="key" key_code="187" key_translate="Plus">+</button>
                            <button class="key key_t5" key_code="8" key_translate="Backspace"><i
                                    class="bi bi-backspace"></i></button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="45" key_translate="Insert">INS</button>
                            <button class="key" key_code="36" key_translate="Home"><i class="bi bi-house"></i></button>
                            <button class="key" key_code="33" key_translate="Page_up"><i
                                    class="bi bi-arrow-up-square-fill"></i></button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="144" key_translate="NUMPAD_lock"><i
                                    class="bi bi-file-lock"></i></button>
                            <button class="key" key_code="111" key_translate="NUMPAD_divide">/</button>
                            <button class="key" key_code="106" key_translate="NUMPAD_multiply">*</button>
                            <button class="key" key_code="109" key_translate="NUMPAD_subtract">-</button>
                        </div>

                        <div class="keyboard-row keyboard_select_display">
                            <button class="key key_t3" key_code="9" key_translate="Tab">tab</button>
                            <button class="key" key_code="65" key_translate="A">A</button>
                            <button class="key" key_code="90" key_translate="Z">Z</button>
                            <button class="key" key_code="69" key_translate="E">E</button>
                            <button class="key" key_code="82" key_translate="R">R</button>
                            <button class="key" key_code="84" key_translate="T">T</button>
                            <button class="key" key_code="89" key_translate="Y">Y</button>
                            <button class="key" key_code="85" key_translate="U">U</button>
                            <button class="key" key_code="73" key_translate="I">I</button>
                            <button class="key" key_code="79" key_translate="O">O</button>
                            <button class="key" key_code="80" key_translate="P">P</button>
                            <button class="key" key_code="221" key_translate="Caret">^</button>
                            <button class="key" key_code="186" key_translate="Dollar">$</button>
                            <button class="key key_t4" key_code="13" key_translate="Enter">ENTER</button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="46" key_translate="Delete">SUP</button>
                            <button class="key" key_code="35" key_translate="End">FIN</button>
                            <button class="key" key_code="34" key_translate="Page_Down"><i
                                    class="bi bi-arrow-down-square-fill"></i></button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="103" key_translate="NUMPAD_7">7</button>
                            <button class="key" key_code="104" key_translate="NUMPAD_8">8</button>
                            <button class="key" key_code="105" key_translate="NUMPAD_9">9</button>
                            <button class="key" key_code="107" key_translate="NUMPAD_plus">+</button>
                        </div>
                        <div class="keyboard-row keyboard_select_display">
                            <button class="key key_t4" key_code="107" key_translate="Maj">MAJ</button>
                            <button class="key" key_code="81" key_translate="Q">Q</button>
                            <button class="key" key_code="83" key_translate="S">S</button>
                            <button class="key" key_code="68" key_translate="D">D</button>
                            <button class="key" key_code="70" key_translate="F">F</button>
                            <button class="key" key_code="71" key_translate="G">G</button>
                            <button class="key" key_code="72" key_translate="H">H</button>
                            <button class="key" key_code="74" key_translate="J">J</button>
                            <button class="key" key_code="75" key_translate="K">K</button>
                            <button class="key" key_code="76" key_translate="L">L</button>
                            <button class="key" key_code="77" key_translate="M">M</button>
                            <button class="key" key_code="192" key_translate="Ù">ù</button>
                            <button class="key" key_code="220" key_translate="Asterisk">*</button>
                            <div class="spacer spacer_295"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="100" key_translate="NUMPAD_4">4</button>
                            <button class="key" key_code="101" key_translate="NUMPAD_5">5</button>
                            <button class="key" key_code="102" key_translate="NUMPAD_6">6</button>
                        </div>
                        <div class="keyboard-row keyboard_select_display">
                            <button class="key key_t2" key_code="" key_translate="Left_shift" data-modifier="true"><i
                                    class="bi bi-shift-fill"></i></button>
                            <button class="key" key_code="226" key_translate="Greater_than">></button>
                            <button class="key" key_code="87" key_translate="W">W</button>
                            <button class="key" key_code="88" key_translate="X">X</button>
                            <button class="key" key_code="67" key_translate="C">C</button>
                            <button class="key" key_code="86" key_translate="V">V</button>
                            <button class="key" key_code="66" key_translate="B">B</button>
                            <button class="key" key_code="78" key_translate="N">N</button>
                            <button class="key" key_code="188" key_translate="Comma">,</button>
                            <button class="key" key_code="190" key_translate="Period">.</button>
                            <button class="key" key_code="191" key_translate="Slash">/</button>
                            <button class="key" key_code="223" key_translate="Exclamation">!</button>
                            <button class="key key_t6" key_code="" key_translate="Right_shift" data-modifier="true"><i
                                    class="bi bi-shift-fill"></i></button>
                            <div class="spacer spacer_90"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="38" key_translate="Arrow_up"><i
                                    class="bi bi-arrow-up-square-fill"></i></button>
                            <div class="spacer spacer_90"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="97" key_translate="NUMPAD_1">1</button>
                            <button class="key" key_code="98" key_translate="NUMPAD_2">2</button>
                            <button class="key" key_code="99" key_translate="NUMPAD_3">3</button>
                        </div>

                        <div class="keyboard-row keyboard_select_display">
                            <button class="key key_t3" key_code="" key_translate="Left_control"
                                data-modifier="true">CTRL</button>
                            <button class="key" key_code="" key_translate="Windows" data-modifier="true"><i
                                    class="bi bi-windows"></i></button>
                            <button class="key key_t3" key_code="" key_translate="Left_alt"
                                data-modifier="true">ALT</button>
                            <button class="key key_t7" key_code="32" key_translate="Space"></button>
                            <button class="key key_t3" key_code="" key_translate="Right_alt"
                                data-modifier="true">ALT</button>
                            <button class="key_forbiden" key_code="" key_translate="Function">FN</button>
                            <button class="key" key_code="" key_translate="Menu"><i
                                    class="bi bi-menu-button-wide-fill"></i></button>
                            <button class="key key_t3" key_code="" key_translate="Right_control"
                                data-modifier="true">CTRL</button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 30px -->
                            <button class="key" key_code="37" key_translate="Arrow_left"><i
                                    class="bi bi-arrow-left-square-fill"></i></button>
                            <button class="key" key_code="40" key_translate="Arrow_down"><i
                                    class="bi bi-arrow-down-square-fill"></i></button>
                            <button class="key" key_code="39" key_translate="Arrow_right"><i
                                    class="bi bi-arrow-right-square-fill"></i></button>
                            <div class="spacer spacer_40"></div> <!-- Espace de 30px -->
                            <button class="key key_t8" key_code="96" key_translate="NUMPAD_0">0</button>
                            <button class="key" key_code="110" key_translate="NUMPAD_period">.</button>
                            <button class="key" key_code="13" key_translate="NUMPAD_enter"><i
                                    class="bi bi-arrow-return-left"></i></button>
                        </div>
                        <hr>
                        <div class="keyboard-row mouse_select_display">
                            <button class="key key_t6" key_translate="Left_click">Clique Gauche</button>
                            <button class="key key_t6" key_translate="Center_click">Clique Molette</button>
                            <button class="key key_t6" key_translate="Right_click">Clique Droit</button>
                        </div>
                        <hr>

                    </div>
                </div>
                <form id="keyConfigForm">
                    <div class="form-group">
                        <label for="keyInput">Touche:</label>
                        <input type="text" class="form-control" id="keyInput">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateKeyInput()"
                    data-bs-dismiss="modal">Sauvegarder</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>