:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    #main {
        height: 100%;
        width: 50%;

        h2 {
            margin: 10px 20px;
        }

        #actionList {
            margin-top: 20px;
            padding: 20px 20px;

            .actions {
                padding: 5px;
                background-color: rgb(73, 73, 73);
                border-radius: 5px;
                margin-bottom: 3px;
            }
        }
    }
    
    #actionDetail {
        background-color: var(--color-1);
        height: 95%;
        width: 50%;

        border-radius: 20px;
    }
}